body{
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.techsub .tsimilarbody{
    position: absolute;
    left: 17%;
    width: 83%;
    height: 100vh;
    background-color: #E4DAE6;
}

