@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

.header{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 0;
    left: 17%;
    width:83%;
    height: 3.6rem;
    background-color: #fff;
    box-shadow: 3px 4px 12px -1px rgba(0,0,0,0.40);
    display: flex;
    justify-content:space-between;
}

.header .logo{
    width: 9rem;
    height: 100%;
}

.header .logo img{
    height: 100%;
    width: 100%;
}

.header .head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .head p{
    font-size: 1.34rem;
    color: #808080;
    font-weight: 400;
    text-transform: capitalize;
}

.header .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 100%;
}
.header .logout p{
    font-size: 1.12rem;
    color: #808080;
    font-weight: 600;
    text-transform: capitalize;
}
.header .logout img{
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
}


